{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block title %}Home DashBord{% endblock %}

{% block body %}

{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endfor %}
<div class="example-wrapper">

    <div class="carousel">
        {{ include('carroussel.html.twig') }}
    </div>

    <h3 class="title-primary">Nos Produits </h3>
    <div class="row_product">
        <div class="product-container">
            {% for product in products %}
            <div class="card" style="width: 18rem;">
                {% if product.fileName %}
                <img src="/upload/images/{{ product.fileName.path }}" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.priceHT }} €</p>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Voir détails</a>
                    <a href="{{ path('app_addtocart', {'idProduct': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
