<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}

                    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_product_index') }}">Gérer les produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_category_index') }}">Gérer les catégories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_images_index') }}">Gérer les images</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <button class="btn" type="submit"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></button>
                                
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
     {# <div class="col-md-3">
        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action">Accueil</a>
            <a href="/about" class="list-group-item list-group-item-action">À propos</a>
            <a href="/contact" class="list-group-item list-group-item-action">Contact</a>
        </div>
    </div>#}
</header>